ul {
list-style: none;
}

html,body{
  margin:0;
  padding:0
}


/* banner start */
.banner {
  position: relative;
  text-align: center;
  color: white;
}

.pocket_planner_header_logo {
  width: 15%;
  margin-top: 20px;
  margin-left: 30px;
  position: absolute;
  top: 8px;
  left: 10px;
}

.banner_content {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner_buttons {
  background-color: transparent;
  color: white;
  border:3px solid #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size:24px;
  margin-right: 50px;

}

button:hover {
  transition-duration: 2ms;
  transition-delay: 2ms;
  background-color: black;
  color:white;
  border: 2px solid black;
}

.sign_up_link {
  text-decoration: none;
}

.sign_up_link:visited {
 color:white;
}

.banner_title {
  font-family: futura-pt, sans-serif;
  font-size: 50px;
}

.banner_image {
  width: 100%;

}

/* banner end */

/*content*/

.content {
  margin: 10%;
  text-align: center;
  font-family: futura-pt, sans-serif;
}

.title_text01 {
  font-size: 48px;
}

.copy_text_01 {
  font-size: 22px;
}

.bold_text {
  font-weight: 600;
}
/
/*form*/

.form_image {
  width:100%;
  height: 30%;
}

/* .convertkit {
  position: relative;

} */

.convertkit_form {
  position: relative;
  margin-left: 20%;
  /* top: 60%; */
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_blurb {
  margin-left: -45%;
  font-family: futura-pt, sans-serif;
  /* color: #ffffff; */
  text-align: center;
}



/*footer*/

.footer {
width: 100%;
position: absolute;
background-color: black;
margin-bottom: -3.5rem;

}

.footer_logo {
width: 10%;
margin-left: 45%;
}
